{% extends 'base.html' %}

{% block content %}

    <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script>
    <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#999999" lcw-marquee-1="none"
         lcw-marquee-2="movers" lcw-marquee-items="20"></div>

    <br>

    <div class="row">
        {% for x in api.Data %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ x.title }}</h5>
                        <a href="{{ x.url }}" target="_blank" class="btn btn-warning">Read More</a>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    </div>

{% endblock %}

