{% extends 'base.html' %}

{% block content %}

{% if notfound %}
    <h3>{{ notfound }}</h3>
{% else %}
    {% if crypto.Response %}
        <h3>Sorry, {{ quote }} doesn't exist. Please try again...</h3>
{% endif %}
<div class="container">
{% for key,value in crypto.DISPLAY.items %}

    <div class="card text-center mb-5">
        <div class="card-header"><h1>{{ key }}</h1></div>
            <div class="card-body">
                <strong>Price</strong> {{ value.USD.PRICE }}<br>
                <strong>Day High</strong> {{ value.USD.HIGHDAY }}<br>
                <strong>Day Low</strong> {{ value.USD.LOWDAY }}<br>
                <strong>Market Cap</strong> {{ value.USD.MKTCAP }}<br>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endif %}

{% endblock %}